* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)), url(ad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    padding: 1.5rem;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0px;
    background: skyblue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar h2 {
    color: #fff;
    padding-left: 15px;
}

.design {
    display: flex;
    font-family: 'Footlight MT Light', sans-serif;
    font-size: 35px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid skyblue;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: skyblue;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.content a {
    color: #fff;
    text-decoration: none;
}

.context {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
    color: #fff;
    font-family: sans-serif;
}

.main-content .context {
    justify-content: space-around;
    background-color: #37474F;
    border-radius: 40px;
    padding: 40px;
}

.context h1 {
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}

.context p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}

.context h2 {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

/* Footer Styles */
.footer {
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
}

.footer .col-1, .footer .col-2, .footer .col-3 {
    width: 250px;
    display: inline-block;
    padding-left: 60px;
}

.footer h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.footer .col-1 a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.footer .social-icons {
    margin-top: 30px;
}

.footer .social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #0d8bf2;
    margin-right: 15px;
    cursor: pointer;
}
