*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    display: flex;
    text-align: center;
    color: white;
    background-color: #37474F;
    width: 30%;
    margin: 10% 19%;
    padding: 5% 5%;
    border-radius: 40px;
   
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    width: 80%;
    margin:auto;
    margin-top:5%;
    font-size: 15px;
    font-stretch: expanded;
    text-transform: uppercase;

    color: grey;
}


.card{
    text-align: center;
    padding:1.5rm;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
}
.card-1{
    border:4px solid #f7cac9;
}
.card-2{
    border:4px solid #92a8d1;
}
.card-3{
    border: 4px solid #ff6;
}
